/*
    ==============================
    NYP Prensipleri: Modülerlik
    ==============================
    Bu dosya, projenin görünümünden (Style) sorumludur ve HTML'den (Yapı) ayrılmıştır.
*/
/* RESET CSS START */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scrool-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

/* RESET CSS END */
/* 1. Renk Paleti Tanımlama (Can ÖZTÜRK İsteği: Kırmızı & Koyu Gri) */
:root {
    /* arkaplan için değişken */
    --bg-color: #080808;
    /* İkinci arkaplan için değişken */
    --second-bg-color: #131313;
    /* Açık Gri/Beyaz için değişken */
    --text-color: #fff;
    /*Kırmızı için değişken*/
    --main-color: #B80707;
}
html{
    font-size:60%;
    overflow-x:hidden;

}
/* 2. Temel Vücut (Body) Ayarları */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
span{
color:var(--main-color);
}
section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;

}
/* HEADER START */
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:4rem 12% 4rem;
    background-color:rgba(0,0,0,0.3);
    backdrop-filter:blur(10px);
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:5;
}
.logo{
    font-size: 3rem;
    color:var(--text-color);
    font-weight:800;
    cursor:pointer;
    transition:0.3s ease-in-out;

}
.logo:hover{
    transform:scale(1.1);
}
.logo span{
    text-shadow:0 0 25px var(--main-color);
    
}
.navbar a{
font-size:1.8rem;
color:var(--text-color);
margin-left:4rem;
font-weight:500;
transition:0.3s ease;
border-bottom: 3px solid transperent;

}
.navbar a:hover,
.navbar a:active{
    color:var(--main-color);
    border-bottom:3px solid var(--main-color);

}
#menu-icon{
    font-size: 3.6rem;
    color:var(--main-color);
    display:none;

}
.home{
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 15rem;
}
.home-content{
    display:flex;
    flex-direction:column;
    align-items:baseline;
    justify-content:center;
    text-align:left;
    margin-top: 3rem;

}
.home-content h1{
    font-size:7rem;
    font-weight:700;
    margin-top:1.5rem;
    line-height:1;
}
.home-content h3{
    margin-bottom:2rem;
    margin-top:1rem;
    font-size:3.5rem;

}
.home-img img{
    width:32vw;
    position:relative;
    top:3rem;
    border-radius:50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor:pointer;
    transition:0.4s ease ease-in-out;
}